body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    padding: 50px;
}

.profile-pic {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

.project-list {
    list-style: none;
    padding: 0;
}
.project-list li {
    margin-bottom: 15px;
}
