<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>My Experince</h1>
        <ul class="project-list">
            <li><strong>Monitoring Dashboard</strong> – Menggunakan Grafana & Prometheus.</li>
            <li><strong>Private Cloud</strong> – Deploy Red Hat OpenStack Platform 16.2.</li>
            <li><strong>CI/CD Pipeline</strong> – Jenkins + Docker + GitHub.</li>
        </ul>
        <a href="/" class="btn">Kembali</a>
    </div>
</body>
</html>
