<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='profile.jpg') }}" class="profile-pic" alt="Profile Picture">
        <h1>Muhammad Aspan Yunandar</h1>
        <p>Cloud Engineer | System Administrator | Java Developer | Middleware</p>
        <a href="/project" class="btn">My Project</a>
        <a href="/education" class="btn">My Education</a>
        <a href="/experience" class="btn">My Experience`</a>
    </div>
</body>
</html>
